<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
  

        <div class="box" id=""heading">
            <h1><%= whatDay %> Todo List</h1>  
            
        </div>    
            
           
                
                <!-- <li><%= newListItems %> </li> -->
              <div class="box">
                <% for(let i=0; i<newListItems.length; i++) { %>
             

               <div class="item">           
                    <p><%= newListItems[i] %></p>
                </div>    
                <%}%>

               </div>
                </body>
               </body>
            </body>
            <form action="/" method="post">
                
                
                  <input type="text" name="newItem" required autofocus>
                 
            
            
               
                <button type="submit">Add</button>
                <p class="mt-5 mb-3 text-muted">&copy; davidcreates 2023</p>
              </form>
    </body>
</html>
