<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <% if (whatDay === "Saturday" || whatDay === "Sunday") { %>
            <h1 style = "color:blueviolet"><%= whatDay %> Todo List</h1>    
       <% } else { %>
            <h1 style = "color:blue"><%= whatDay %> Todo List</h1> 
        <%}%>

    </body>
</html>
